.clients {
  padding-bottom: 60px;
  padding-top: 60px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}
.clients__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.clients__list {
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.clients__item {
  display: flex;
  align-items: center;

  flex-basis: calc((100% - 2 * 30px) / 2);

  margin: 15px;
  height: 92px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 6 * 15px) / 3);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 6 * 30px) / 6);
  }
}
.clients__link {
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  @extend %line-items;
  color: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}
.clients__icon {
  fill: currentColor;
}
