.main {
  padding-top: 118px;
  padding-bottom: 188px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/main-phone-1x.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/main-phone-2x.jpg);
  }
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
  @include tab {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/main-tab-1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/main-tab-2x.jpg);
    }
  }
  @include desk {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/fon.jpg);
  }
}

.main__title {
  display: inline-block;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
  text-align: center;
  @include tab {
    padding-right: 180px;
    padding-left: 180px;
  }
  @include desk {
    font-size: 44px;
    line-height: 1.36;
    padding: 0;
  }
}
.main__button {
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
