.portfolio-list-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
  margin-bottom: 4px;
}
.portfolio-list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--address-color);
}
.div-portfolo-list {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.portfolio-img {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  background: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .portfolio-img-text {
    transform: translateY(0);
  }
}

.portfolio-img-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-img-text {
  position: absolute;
  top: 0;
  left: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
